DATABASE_URL="postgresql://postgres:postgres@localhost:5432/DATABASE_NAME"

DB_HOST=localhost
DB_PORT=5432
DB_USER=root
DB_PASSWORD=
DB_NAME=DATABASE_NAME

JWT_SECRET="EXAMPLE_SERCRET"

PORT=5000
FRONTEND_URL=http://localhost:3000
FRONTEND_LAN_URL=http://FRONTEND_SERVER_IP:3000